<div class="container">
  <h3 class="mt-4 text-center">All Articles</h3>
  <div class="d-flex flex-row justify-content-center">
    <div class="post-list d-flex flex-wrap justify-content-center">
      <% @posts.each do |post| %>
        <%= render 'shared/post-card', post: post %>
      <% end %>
    </div>
  </div>
</div>
